<section class="container mb-0 mt-5 p-0  " id="footer-section ">
    <div class="row">

        <div class="col-md-6 px-2 mb-2 mb-sm-0">


            <label class="form-label px-4 text-muted fw-bolder" for="email"> Email Us</label>
            <div class="d-flex justify-content-around">
                <input name="email" type="email" class="form-control w-75 ">
                <a class="btn btn-addToCart " href="mailto:ataabed29@gmail.com">Send </a>
            </div>


        </div>
        <div class="col-md-6 px-2">

            <label class="form-label px-4 text-muted fw-bolder" > Follow Us</label>

            <ul id="sideBarIcons" class="d-flex justify-content-center  ">

                <li class="d-flex justify-content-around w-100  main-color text-center">
                  <a class="nav-link" href="#"><i class="sideBarIcon mb-2 fa fa-brands fa-instagram fa-2x"></i></a>
                  <a class="nav-link" href="#"><i class="sideBarIcon mb-2 fa fa-brands fa-facebook fa-2x"></i></a>
                  <a class="nav-link" href="#"><i class="sideBarIcon mb-2 fa fa-brands fa-tiktok fa-2x"></i></a>
                  <a class="nav-link" href="#"><i class="sideBarIcon mb-2 fa fa-brands fa-twitter fa-2x"></i></a>
                  <a class="nav-link" href="#"><i class="sideBarIcon mb-2 fa fa-brands fa-linkedin fa-2x"></i></a>
                  <a class="nav-link" href="#"><i class=" sideBarIcon mb-2 fa fa-brands fa-youtube fa-2x"></i></a>
          
          
                </li>
              </ul>



        </div>
<div class="text-center">
    <p>Designed by Eng.Atta Abed</p>
    <p><span><i class="fa fa-phone"></i></span>:01001070129</p>
</div>
    </div>

</section>