<section>
    <div *ngIf="showLoader"
    class="product-loader d-flex justify-content-center align-items-center position-fixed top-0 bottom-0 start-0 end-0 bg-white">

    <span class="loader"></span>
  </div>

    <div *ngIf="showLoader===false" class="row align-items-center">
        <div class="col-1 col-sm-12">
            <h6>{{productData?.data?.category?.name}}/{{productData?.data?.subcategory[0]?.name}}</h6>
        </div>
        <div class="col-md-4 ">
          <!--   <img [src]="productData?.data?.imageCover" class="w-100" alt=""> -->
          <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let image of productData?.data?.images">
              <ng-template carouselSlide [id]="productData?.data_id">
                <img [src]="image" [alt]="image" [title]="image" class="w-100 rounded-5 ">
             
              </ng-template>
            </ng-container>
        
          </owl-carousel-o>
        </div>
        <div class="col-md-8">
            <h2>{{productData?.data?.title}}</h2>
            <p class="">{{productData?.data?.description}}</p>

            <div class="d-flex ">
                <span class="d-inline-block"><b>Brand:</b></span>
                <img [src]="productData?.data?.brand?.image" class=" w-25" [alt]="productData?.data?.brand?.name">
            </div>
            <div class="row justify-content-between mb-3">
                <span class="col-6 col-sm-3"><b>price:</b>   {{productData?.data?.price | currency:'EGP'}}</span>
             
                <span class="col-6 col-sm-3"><b>rating:</b><i class="fa fa-star product-rating"></i>{{productData?.data?.ratingsAverage}}</span>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center flex-sm-row">
            
          <button (click)="addProductToCart(productData?.data?._id)" class="btn  btn-addToCart  col-2 main-color"><i class="fa fa-shopping-cart"></i></button>
           
          <button [id]="productData?.data?._id"  (click)="addProductToWishList(productData?.data?._id )" [class]="isInWishList? btn_Wishlist:btn_NotWishlist ">
            <i class=" fa fa-heart fa-2xl"></i></button>
      
        </div>
        </div>
    </div>
</section>