<section> 
    <div class=" mb-3">
       
       
        <label for="email" class="form-label"></label>
      
        <input [(ngModel)]="userEmail" type="text" class="form-control w-50 mb-3" placeholder="email" aria-label="email">
    
        <label for="password" class="form-label">new password</label>
      
        <input [(ngModel)]="myNewPassword" type="password"name="password" class="form-control w-50 mb-3" placeholder="enter code send to your email">
    <button (click)="newPassword()" class="btn btn-addToCart">Verify</button>
    </div>
</section>
