.sideCol{
    position: -webkit-sticky;
    position: fixed;
    left: -1rem;
    top: 25%;
    z-index: 999;
}
.sideBarIcon
{
    padding: 0.5rem;
    border: 1px solid var(--main-color);
    border-radius: 50%;
}
.sideBarIcon:hover
{
    background-color: var(--main-color);
    color: white;
}