<section>
    <h3 class="text-center main-color"> dear {{userName}} your Orders Histor </h3>

    
    <table class="table table-hover table-bordered table-striped">
<thead class="text-center">
    <tr>
        <th>
order Id
        </th>
        <th>
            Date
        </th>
        <th>
            total price
        </th>
        <th>
order Is Paid
        </th>
        <th>
          payment method
                    </th>
    </tr>
</thead>

        <tbody class="text-center">
            <tr *ngFor="let o of orderlst.reverse()">
                <td>{{o.id}}</td>
                <td>{{o.createdAt | date:"short"}}</td>
                <td>{{o.totalOrderPrice | currency:'EGP'}}</td>
                <td>{{o.isPaid}}</td>
                <td>{{o.paymentMethodType}}</td>
                </tr>

        </tbody>
    </table>
</section>
